* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'BaiJamjuree', sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;    
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #40356d;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.categories{
    width: 20%;
    min-height: 85vh;
    background-color: #232357;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
}
.goods{
    width: 50%;
    min-height: 85vh;
    background-color: #232357;
    border-radius: 20px;
    padding-top: 20px;
}

.goods-card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.goods-card {
    width: 46%;
    min-height: 490px;
    border: 2px solid transparent;
    background-color: #1f244c;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: all .5s linear;
}

.goods-card:hover {
    border: 2px solid #b7c5e0;
    transform: translateY(-5px);
}

.goods-img {
    transition: all .5s linear;
}

.goods-card:hover .goods-img {
    transform: scale(1.05) rotate(5deg);
}

.goods-name {
    color: #b7c5e0;
    margin-top: 20px;
}

.goods-price {
    color: #f95543;
    margin-top: 20px;
}

.buy {
    width: 30%;
    min-height: 85vh;
    background-color: #232357;
    border-radius: 20px; 
    padding: 20px;   
}

.buy-title {
    margin-bottom: 20px;
    color: #b7c5e0;
}

.buy-description {
    color: #b7c5e0;
    font-size: 14px;
    margin-top: 20px;
}

.buy-specification {
    list-style-type: none;
    color: #b7c5e0;
    font-size: 14px;
    margin-top: 20px;
}

.buy-specification-item {
    margin-bottom: 10px;
}

.buy-btn {
    background-color: #f95543;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s linear;
}

.buy-btn:hover {
    background-color: #fb601e;
    transform: scale(1.02);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.parameter {
    font-weight: 700;
}

.categories-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.categories-item {
    width: 100%;
    padding: 20px;
    background-color: #1f244c;
    color: #b7c5e0;
    cursor: pointer;
    border-radius: 8px;
    transition: all .6s linear;
}

.default-text {
    color: #b7c5e0;
}

.categories-item:hover {
    background-color: #fcdde3;
    color: #282142;
    transform: translateX(5px);
}

.goods-header {
    font-size: 32px;
    color: #b7c5e0;
    text-align: center;
    font-weight: 400;
}

.hidden {
    display: none;
}

.popup-wrapper {
    position: fixed;
    z-index: 3000;
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.popup-wrapper.active-popup {
    display: flex;
}

.popup-window {
    width: 100%;
    max-width: 650px;
    max-height: 100vh;
    background-color: #fff;
    border-radius: 20px;
}

.popup-form {
    position: relative;
    background-color: #1f244c;
    height: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gratitude {
    font-size: 30px;
    color: #b7c5e0;
    margin-bottom: 50px;
}

.ok-btn {
    border: none;
    background-color: #f95543;
    color: #fff;
    font-size: 24px;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 30px;
    transition: all .3s linear;
}

.ok-btn:hover {
    background-color: #fb601e;
    transform: scale(1.02);
}

.close-popup-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all .7s ease;
}

.close-popup-btn:hover {
    transform: rotate(360deg);
}

.under-modal {
    overflow: hidden;
}

